.login-page {
    width: 350px;
    height: 450px;
    background: rgb(235, 235, 235);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s;
}

.login-page:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.300);
}

.login-page h1 {
	margin-bottom: 30px;
}

.login-page span{
    color: #927a2a;
    cursor: pointer;
}

li,a,button{
    text-decoration: none;
    color: #fff;
}
